/*General styles*/
* {
    box-sizing: border-box;
    border: 1px solid black;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: black;
    font-size: 15px;

}

h1 {
    font-size: 3rem;


}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

ul {
    list-style: none;
}


/*Header*/






#main-header {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;

}

.header-logo {
    width: 30%;
    flex: 1;

}





.menu {


    font-size: 2rem;
    flex: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}



#profile {

    align-self: center;
}

#profile img {

    width: 150px;
    border-radius: 50%;


}

@media screen and (min-width: 300px) {

    #main-header {
        display: flex;
        flex-direction: column;

    }

    .menu {
        display: flex;
        flex-direction: column;
        
        


    }



}


@media screen and (min-width: 600px) {

    #main-header {
        display: flex;
        flex-direction: row;
    }

    .menu {
        display: flex;
        flex-direction: row;

    }

}