*, *::before, *::after {box-sizing: border-box; margin: 0; padding: 0;}

:root{
    --yellow: #FFE55C;
    --pink:   #FF6B9D;
    --blue:   #4ECBFF;
    --green:  #5BFFA0;
    --dark:   #0D0D0D;
    --offwhite: #F5F2EB;
}
html{scroll-behavior: smooth;}
body{
    font-family: 'DM Sans', sans-serif;
    background:var(--dark);
    color:var(--offwhite);
    overflow-x:hidden;
}

/* --CURSOR-- */
.cursor{
    width: 18px; height: 18px;
    background: var(--yellow);
    border-radius: 50%;
    position: fixed;
    top: 0; left: 0;
    pointer-events: none;
    z-index: 9999;
    transition: transform .12s ease, background .2s;
    mix-blend-mode: difference;
}

/*--NAV--*/
nav{
    position: fixed; top:0;left: 0;right: 0;
    display: flex; justify-content: space-between; align-items: center;
    padding: 1.5rem 3rem;
    z-index: 100;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.logo{
    font-family: 'Syne', sans-serif;
    font-weight: 800; font-size: 1.2rem;
    color:var(--yellow);
    text-decoration: none;
}
.nav-links{
    display: flex; gap: 2.5rem; list-style:none;
}
.nav-links a{
    color:var(--offwhite);
    text-decoration: none;
    font-size: .9rem;
    font-weight: 300;
    letter-spacing: .08em;
    text-transform: uppercase;
    opacity: .7;
    transition: opacity .2s color .2s;
}
.nav-links a:hover{opacity: 1; color: var(--yellow);}