/*General styles*/
* {
    box-sizing: border-box;
  
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--root-background)!important;
    color: var(--color)!important;
    font-size: 15px;
  


}
:root{
    
    --root-background: white;
    --color: #000000;
    --background:white;
    --base-variant:white;
    --primary-color:black;
    
    --menu-background: black;
    
    
   
    
}

.dark_mode{
    --root-background:black;
    --color: #ffffff;
    --background:black;
    --primary-color:white;
    --base-variant:black;
    --menu-background: white;
  
    
    
    
}

section{
   width: 100%;
}



h1 {
    font-size: 3rem;


}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
   
}

/*Header*/
#main-header h1{
    text-shadow: 1px 1px 1px;
  
 }



 #main-header ul{
    text-shadow: 1px 1px 1px;
  
 }




#main-header {
    
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;

}

.header-logo {
    text-align: center;
    width: 100%;
    flex: 1;
 margin-left: 30px;

}





.menu {


    font-size: 2rem;
    flex: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.menu li a {
    position: relative;
    font-size: 36px;
    text-decoration: none;
    color:var(--color);
}



.menu li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 5px;
    background-color: var(--menu-background);
    transition: 0.5s ;

}



.menu li:hover a::after{
    width: 100%;
   
}



#light_switch{
    align-self: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--base-variant);
    position: sticky;
   
    
   

}

#light_switch svg{
fill: var(--primary-color);
}


#light_switch svg:last-child{
    display: none;
}

.dark_mode #light_switch svg:first-child{
    display: none;
}

.dark_mode #light_switch svg:last-child{
    display: block;
}







#light_switch svg:hover{
  
   width: 70px;
   height: 70px;

}



#profile {

    align-self: center;
}

#profile img {

    width: 150px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px;
    margin: 10px;
    border: 5px solid aqua;


}

#profile img:hover {

    box-shadow: 1px 1px 1px aqua;

    


}

@media screen and (min-width: 300px) {

    #main-header {
        display: flex;
        flex-direction: column;

    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        


    }



}


@media screen and (min-width: 600px) {

    #main-header {
        display: flex;
        flex-direction: row;
    }

    .menu {
        display: flex;
        flex-direction: row;

    }

}

/*Perfil section*/




.barra{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: conic-gradient(rgb(78,236,20) 30deg, rgb(230,224,224) 0deg);

}
.barra::before{
    content: "";
    position: absolute;
    background-color: var(--background);
    width: 280px;
    height: 280px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.valor_barra{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 50px;
}

.barra-content{
    position: absolute;
    top: 60%;
    left: 45%;
    color: var(--color);
    text-shadow: 1px 1px 1px #000000;
    
    

}

#perfil{
    background-color: var(--background);
    flex-direction: column;
   gap: 20px;
    align-items: center;
    display: none;
    margin-top: 50px;
    width: 100%;
    max-height: 2200px;
    
    text-align: center;
    
}

#perfil h2{
    text-shadow: 1px 1px 1px;
    
}

#perfil img{
   width: 70px;

}

.soft-skill p{
    font-size: 1.5rem;
}

.tech-info{
    display: flex;
    align-items: center;
}

 .tech-info div{
    text-shadow: 1px 1px 9px;
  
   
}

details{
    font-size: 1.5rem;
  
}

#servicos{

display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: 30px;


}


.valor-servico{
    border: 1px solid blue;
    border-radius: 5px;
    color: blue;
    text-shadow: none;
   
}







/*Projetos section*/

#projetos{
    display: none;
}

/*Global Footer*/
#global-footer{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 50px;
}

#global-footer img{
    width: 50px;
    height: 50px;
}

.contato{
    display: flex;
    gap: 10px;

}

.contatos{
    display: flex;
gap: 10px;
    align-self: flex-end;

}